body {
	background-color: #cacaca;
}

#message-container {
	width: 100%;
	position: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    height: 24px;
}

.message {
	text-align: center;
	vertical-align: middle;
	font-size: large;
	width: 40%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin: 5px auto;
}

.close {
	cursor: pointer;
	margin: 10px;
	color: red;
	width: 5px;
	height: 5px;
	float: left;
}

.specification {
	width: 28%;
}

.message-btn {
	border-radius: 5px;
	color: white;
	font-size: large;
	padding: 15px;
}

.start-message-btn {
	background-color: #00cc00;
	border: 1px solid #009944;
}

.stop-message-btn {
	background-color: #cc0000;
	border: 1px solid #994400;
}